@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'Roboto-Thin';
    src: url(../fonts/Roboto-Thin.ttf);
}
@font-face {
    font-family: 'Roboto-Light';
    src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url(../fonts/Roboto-Bold.ttf);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    color: #fff;
    font-family: Roboto, sans-serif;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    color: #fff;
}
a:hover, a:focus, a:active {
    color: #fff;
}

#slider {
    height: 800px;
    display: flex;
}

#slider > div {
    position: relative;
    height: 100%;
    transition: width 0.5s;
}

#slider > div .controls {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 26px;
}

#slider #slider-blue {
    background: #305bce url(../images/slider-blue-bg.jpg) no-repeat;
    width: 85%;
}

#slider #slider-blue .controls {
    right: 45px;
}

#slider #slider-blue .logo {
    padding: 83px 0 83px 110px;
}

#slider #slider-red {
    background: #d21d43 url(../images/slider-red-bg.jpg) no-repeat top right;
    width: 15%;
}

#slider #slider-red .controls {
    left: 45px;
}

#slider #slider-red .menu {
    position: absolute;
    left: 50%;
    top: 96px;
    transform: translate(-50%, 0);
    font-size: 26px;
}

.white-section {
    padding-bottom: 30px;
}

h2 {
    font-family: Roboto-Thin;
    font-size: 35px;
    margin-top: 120px;
    margin-bottom: 45px;
    color: #5284ff;
    line-height: 1.2;
}

h4 {
    font-family: Roboto-Light;
    font-size: 18px;
    line-height: 30px;
    color: #494949;
    text-align: justify;
    margin: 20px 0;
}

button {
    background-color: transparent;
    border-radius: 28px;
    border: 1px solid #dadee7;
    font-family: Roboto;
    font-size: 15px;
    letter-spacing: 1px;
    color: #3e3e3e;
    padding: 12px 45px;
    margin: 50px 0;
}

button > span {
    margin-left: 15px;
}


.image-right {
    width: 80%;
    margin-top: 150px;
}

.img-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.arrow {
    margin-top: 350px;
    margin-left: 25px;
}

@media (max-width: 992px) {
    .image-right {
        width: 100%;
        margin-top: 50px;
    }
}

.gray-section {
    background-color: #fbfbfb;
    padding-bottom: 30px;
}

.box-wrapper {
    text-align: center;
    margin-top: 30px;
}

.box-wrapper > img {
    width: 30%;
}

.box-wrapper-first {
    margin-top: 38px;
}

.title {
    font-family:Roboto-Bold, sans-serif;
    font-size: 13px;
    color: #3e3e3e;
    margin-top: 20px;
    margin-bottom: 10px;
}

h5 {
    font-family: Roboto-Light, sans-serif;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1px;
    color: #5c6b89;
    padding: 0 5px;
}

.button-small {
    font-family:Roboto, sans-serif;
    font-size: 11px;
    padding: 10px 30px;
    letter-spacing: 0.5px;
}

.red-section {
    background: url("../images/red-section.png") no-repeat;
    background-size: cover;
    padding-bottom: 100px;
}

.red-section .img-wrapper {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
}

.white {
    color: #fff;
}

.text-center {
    text-align: center;
    font-size: 40px;
}

.img-small {
    width: 80%;
    position: relative;
}

.right-section {
    background: url("../images/video-background.png") no-repeat;
    background-size: cover;
    width: 100%;
    height: 750px;
    margin-right: -300px;
    text-align: center;
}

.triangle {
    margin-top: 350px;
}

@media (max-width: 1190px) {
    .right-section {
        height: 900px;
    }
    .triangle {
        margin-top: 500px;
    }
}

@media (max-width: 992px) {
    .right-section {
        height: 500px;
    }
    .triangle {
        margin-top: 225px;
    }
}

.checkbox-blue {
    width: 20px;
    height: 20px;
    background: url("../images/checked.png") no-repeat;
    background-size: cover;
    display: inline-block;
    margin-left: 25px;
}

.list-element {
    display: inline-block;
    margin: 10px 0 10px 25px;
    font-family: Roboto-Light, sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #494949;
}

.blue-section {
    background: url("../images/blue-section.png") no-repeat;
    background-size: cover;
    padding-bottom: 100px;
}

.blue-section .img-wrapper {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
}

.single-line-title {
    margin-top: 33px;
}

.blue {
    color: #7ca1fe;
}

.text-wrapper {
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
}

.gdr-section .button-small {
    padding: 10px 22px;
}

.gray-section .img-wrapper {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
}

.green-section {
    background: url("../images/green-section.png") no-repeat;
    background-size: cover;
    padding-bottom: 100px;
}

.green-section .img-wrapper {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
}

section .small-text {
    color: #fff;
    padding: 10px 20px 0 20px;
}

footer {
    background-color: #262626;
    border-color: transparent;
    border-radius: 0;
}

.footer-list {
    text-decoration: none;
    list-style-type: none;
    text-align: right;
}

.footer-text {
    font-family: Roboto, sans-serif;
    font-size: 13px;
    line-height: 150px;
}

.footer-list > li {
    display: inline-block;
}

.footer-list > li > a {
    font-family: Roboto, sans-serif;
    font-size: 13px;
    line-height: 150px;
    padding: 0 20px;
    text-decoration: none;
}

.footer-list > li > a > img {
    margin: 0 -10px;
}

